# Stefik - FastAPI
fastapi==0.95.1
requests
uvicorn==0.22.0

# Stefik - TextProcessing
openai==0.27.6
python-dotenv==1.0.0
tiktoken

# Torch
torch
torchvision

# transformers
datasets

# stable-diffusion
diffusers
transformers
accelerate
scipy
safetensors

# CLIP-OpenAI
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git