@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

:root {
    --color-primary: 43, 43, 43;
    --color-secondary: 36, 36, 36;
    --color-tertiary: 65, 65, 65;
    --color-text: 255, 255, 255;
    --color-highlight: 91, 144, 241;
    --color-button: 26, 26, 26;
    
    --border-radius: 5px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(var(--color-text));
  background-color: rgb(var(--color-primary));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: rgba(var(--color-highlight));
  text-decoration: inherit;
}
a:hover {
  color: rgba(var(--color-highlight), 0.75);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2 {
    margin: 0;
    font-weight: 600;
}

#app {
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(var(--color-button));
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(var(--color-highlight));
}
button:focus,
button:focus-visible {
  outline: 4px auto rgba(var(--color-highlight), 0.5);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-text), 0.2);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--color-text), 0.25);
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--color-secondary), 1);
  border-radius: 8px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}